@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;

    --mainTextColor:var(--mainTextColor-light);
    --secondaryTextColor:var(--secondaryTextColor-light);
    --mainLinkColor:var(--mainLinkColor-light);
    --mainBorderColor:var(--mainBorderColor-light);
    --mainBgColor:var(--mainBgColor-light);
}

*{
    font-family: 'Helvetica Neue';
    line-height: 1.2em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    
}

body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainTextColor);
    font-weight: 500;
}

a:hover{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 2em;
}

#bio{
    font-weight: 300;
}

#user-name{
    font-size: 30px;
    line-height: 1.2em;
}

#profile-pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20%;
}

#ProjectImage{
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-width: 0.01em;
    border-style: dashed;
}
#ProjectImage:hover{
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-width: 0.05em;
    border-style: solid;
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 1em;
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 390;
    color: var(--mainLinkColor);
    font-size: 1em;
}

#projects--list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 1px;
}

#projects--list a{
    font-weight: 200;
    color: var(--secondaryTextColor);
    font-size: 1em;
    transition: 0.3s;
}

#projects--list a:hover{
    font-weight: 300;
    color: var(--mainLinkColor);
    font-size: 1em;
}

#qualifications--list{
    list-style-type: square;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

/* .tag {
    color: rgb(10, 208, 218); /* Change to any color you want */
    /*text-decoration: none; /* Optional: Removes the default underline */
/*} */

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
    font-size: 1.2em;
}

.card--project a{
    color: var(--mainTextColor);
    transition: 0.3s;
    font-size: 1em;
    font-weight: 600
}

.card--project a:hover{
    color: rgb(95, 100, 101);
    font-size: 1.01em;
}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.card--education-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}


@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 3em;
    }

    #wrapper--hero{
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    #wrapper--hero{
        flex-direction: column;
    }

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}

#skills {
    text-align: left;
    padding: 0px;
    background-color: mainBgColor;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.skill-group h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
}

.skill-group p {
    font-size: 16px;
    color: #555;
    margin: 0;
}


/* ---- Individual Publication Entry ---- */
.pubs {
    margin-bottom: 20px;
    padding-bottom: 10px;
    
    /*border-bottom: 1px solid #ddd; /* Adds a subtle separator */
}

/* ---- Paper Title Styling ---- */
.papertitle {
    /* font-weight: bold; */
    /* font-size: 18px; */
    /* color: #0056b3; */
    list-style-type: square;
}

/* ---- Author Name Styling ---- */
.thisauthor {
    font-style: italic;
    text-decoration: underline;
    /* color: #666; */
}

/* ---- Links (PDF, Abstract) Styling ---- */
.tag {
    text-decoration: none;
    /* color: #007bff; */
    font-weight: bold;
}

.tag:hover {
    text-decoration: underline;
    /* color: #0056b3; */
}

/* ---- Separator ( | ) Styling ---- */
.tagsep {
    /* color: #aaa; */
    margin: 0 5px;
}

